body {
  font-size: 22px;
  line-height: 1.5em;
  font-family: monospace;
  background: #000;
  color: #0F0;
}

h1 { text-align: center }

h1 small {
  font-weight: 300;
  font-size: 50%;
  opacity: 0.7;
}

a { color: #0f0; }

footer {
  text-align: center;
  font-size: 0.8em;
  color: #0C0;
}

fieldset { border: none; }

label {
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 100px;
}

.form-input { margin-left: 130px; }
.form-input > * {
  width: 100%;
  line-height: 1.7em;
  padding: 4px;
  background: #333;
  border: 1px solid #0C0;
  color: #FFF;
}
.form-input > .input:focus {
  border: 1px solid #0F0;
  box-shadow: 0 0 5px #000 inset;
  background: #FFF;
  color: #000;
  outline: none;
}

.btn {
  width: auto;
  font-size: 20px;
  background: #0F0;
  padding: 0 15px;
  border: none;
  color: #000;
  opacity: 0.8;
  font-weight: bold;
}
.btn[type=reset] {
  font-weight: bold;
  background: #777;
}
.btn:hover { opacity: 1; }

.content {
  max-width: 655px;
  margin: 50px auto;
}
